.header{
    background: var(--Yellow);
    width: 85rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
}

.IconMenu button {
    background: transparent;
    border: none;
    margin: 0.5rem; 
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 25px; 
    height: 25px;
    transition: all 0.3s ease; 
}

.IconMenu button:hover {
    background: var(--Gray-300);
    border-radius: 8px;
    padding: 0.4rem;
}
